* {
    font-family:  sans-serif;
}
body {
    background-color: rgb(252, 249, 225);
}
/*#p1 {
    background-color: rgb(0, 213, 255);

}*/

#p1 div {
    /*background-color: darkgrey;*/
    font-family: sans-serif;
    align-items: center;
    margin: 10px;
    width: 100%;

}
.p2 {
    font-family:  sans-serif;
    font-size: 130%;
}

.css {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
#container div {
    background-color: rgb(201, 194, 136);
    align-items: center;
    margin: 20px;
    width: 100%;
    border-color: black;

}
#container {
    display: flex;

}
h1 {
    color: aliceblue;
    background-color: olivedrab;
    text-align: center;
    border-radius: 1px;
    border-color: black;
    font-size: 300%;

}



h3 {
    text-align: center;
    color: rgb(83, 38, 12);
    text-decoration: underline;

    font-size: x-large;
}



#videos {
    color: rgb(26, 23, 55);
    text-align: center;
    display: flex;
}

#videos div {
    background-color: yellow;
    align-items: center;
    margin: 20px;
    width: 100%;

}



.link>li>a {
    text-decoration: none;
    color: rgb(81, 80, 80);
}

.link {
    font-weight: 800;
    font-size: larger;
}





.d {
    background-color: darkorange;
}

.home {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: xx-large;
}

h2 {
    color: black;
    text-decoration: underline;
    text-align: start;
    
}


